{{define "title"}}DonFixel's 7 Days to Die Co-Op Server{{end}}

{{define "body"}}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Server Manager</h1>
    <p class="lead">Manage DonFixel's 7 Days to Die Co-Op Server.</p>
    <div>
      <h3>Starting Server</h3>
      <p class="lead"><strong>Result:</strong> {{.}}</p>
    </div>
    <h3>Actions:</h3>
    <p class="lead">
      <a href="/status" class="btn btn-lg btn-secondary">Status</a>
      <a href="/start" class="btn btn-lg btn-secondary">Start Server</a>
    </p>
</main>

{{end}}
